* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 28px;
}
h6  {
    font-size: 18px;
}
.orange-text-color {
    color: orange;
}
.header-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left top;
}

section {
    padding: 0 10%;
    margin-bottom: 50px;
}
.row {
    display: flex;
    align-items: center;

}
.half-width {
    width: 50%;
    padding: 20px;
}

.half-width img {
    width: 100%;
}

.btn {
    background-image: linear-gradient(45deg, orange, red);
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.mt {
    margin-top: 20px;
}
.mt-sm {
    margin-top: 12px;
}

.card {
    align-self: stretch;
    margin: 30px;
    padding: 40px 20px;
    box-shadow: 5px 5px 20px 5px rgba(78, 57, 57, 0.5);
}

.card-1 {
    border-left: 7px solid transparent;
    border-image: linear-gradient(45deg, rgba(100,57,242,1) 0%, rgba(242,55,55,1) 50%);
    border-image-slice: 9;
    margin-left: 0;
}
.card-2 {
    border-left: 7px solid transparent;
    border-image: linear-gradient(45deg, #00F2FF 0%, #000BFF 50%);
    border-image-slice: 9;
    margin-right: 0;
}